body {
  margin: 0px !important;
}

.menu {
  background-color: #fff;
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .13);
  position: relative;
  width: 100%;
  z-index: 45
}

.menu .link:hover {
  border: none;
  color: none
}

.menu .menu__top--heading {
  margin: 0 auto;
  max-width: 1680px
}

.body--locked {
  height: 100vh;
  overflow: hidden
}

.menu-cart__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  letter-spacing: 1px;
  padding: 0;
  position: relative;
  width: 2.5rem
}

@media (min-width: 37.5rem) {
  .menu-cart__button {
    justify-content: center;
    width: 3.5rem
  }
}

@media screen and (min-width: 70rem) {
  .menu-cart__button {
    align-items: center
  }
}

.menu-cart__button:active,
.menu-cart__button:focus,
.menu-cart__button:hover {
  cursor: pointer;
  outline: none
}

.menu-cart__button:active .Icon,
.menu-cart__button:focus .Icon,
.menu-cart__button:hover .Icon {
  fill: #990ae3;
  color: #990ae3
}

.menu-cart__icon-container {
  color: #000;
  position: relative
}

.menu-cart__icon {
  display: block;
  height: 100%;
  width: 100%
}

.menu-cart__item-count {
  align-items: center;
  background-color: #26bb6f;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: .6rem;
  font-weight: 700;
  height: 1.2rem;
  justify-content: center;
  line-height: 1.2rem;
  position: absolute;
  right: -22%;
  top: -10%;
  width: 1.2rem
}

.menu__content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1680px;
  padding: .5rem
}

@media (min-width: 22.5rem) {
  .menu__content {
    padding: .5rem 1.25rem
  }
}

.menu__content-panel {
  justify: space-around;
  align-items: center;
  display: flex;
  flex-grow: 1;
  list-style: none;
  padding: 0
}

.menu__content-panel * {
  display: none
}

@media (min-width: 70rem) {
  .menu__content-panel * {
    display: flex
  }
}

.menu__content-panel--hidden {
  display: none
}

.menu__content-panel .menu__item {
  border: none;
  cursor: pointer;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: 1.08rem;
  margin: 0 -.625rem 0 0;
  padding: 0 .96154rem
}

.menu__content-panel .menu__item--active,
.menu__content-panel .menu__item:focus,
.menu__content-panel .menu__item:hover {
  background: none
}

.menu__content-panel .menu__item--active>.link__content,
.menu__content-panel .menu__item:focus>.link__content,
.menu__content-panel .menu__item:hover>.link__content {
  border-bottom: 2px solid #990ae3;
  color: #990ae3;
  margin-bottom: -2px
}

.menu__content-panel .menu__submenu {
  overflow: visible;
  position: relative
}

.menu__content-panel .menu__submenu-link {
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center
}

.menu__content-panel .menu__submenu-link:hover {
  background: none;
  border-bottom: 2px solid #990ae3;
  color: #990ae3
}

.menu__content-panel .menu__submenu-icon {
  height: 1rem;
  margin-left: .5rem;
  pointer-events: none;
  width: 1rem
}

.menu__content-panel .menu__submenu-icon--open {
  transform: rotate(180deg)
}

.menu__content-panel .menu__submenu-container {
  background-color: #fff;
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .13);
  display: none;
  left: -1.25rem;
  left: 0;
  padding: 1.25rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: fit-content
}

.menu__content-panel .menu__submenu-container--open {
  display: block
}

.menu__content-panel .menu__submenu-container--open:before {
  background: #fff;
  content: "";
  display: block;
  height: 1.5rem;
  left: -5px;
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 46
}

.menu__content-panel .menu__submenu-container .menu__subitem {
  border: none;
  display: block;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: 1.08rem;
  margin-top: 1rem
}

.menu__content-panel .menu__submenu-container .menu__subitem:focus,
.menu__content-panel .menu__submenu-container .menu__subitem:hover {
  background: none
}

.menu__content-panel .menu__submenu-container .menu__subitem:focus .link__content,
.menu__content-panel .menu__submenu-container .menu__subitem:hover .link__content {
  border-bottom: 2px solid #990ae3;
  color: #990ae3;
  margin-bottom: -2px;
  width: fit-content
}

.menu__content-panel .menu__submenu--active,
.menu__content-panel .menu__submenu:focus {
  background: none
}

.menu__content-panel .menu__submenu--active .menu__submenu-link,
.menu__content-panel .menu__submenu:focus .menu__submenu-link {
  border-bottom: 2px solid #990ae3;
  color: #990ae3
}

.menu__content-right {
  align-items: center;
  display: flex;
  justify-content: flex-start
}

@media (min-width: 70rem) {
  .menu__content-right {
    position: relative
  }
}

.menu__logo,
.menu__logo--inverted {
  max-width: 5rem
}

@media (min-width: 37.5rem) {

  .menu__logo,
  .menu__logo--inverted {
    max-width: 7rem;
    min-width: 7rem
  }
}

@media (min-width: 70rem) {

  .menu__logo,
  .menu__logo--inverted {
    margin-right: 2rem
  }
}

.menu__logo-container,
.menu__logo-container>.link__content {
  align-items: center;
  display: flex
}

.menu__logo-container>.menu__logo--inverted {
  display: none
}

.menu__logo-container>.menu__logo--only {
  margin-right: 0
}

.menu__logo-container:focus {
  background: #990ae3;
  outline: none
}

.menu__logo-container:focus>.menu__logo {
  display: none
}

.menu__logo-container:focus>.menu__logo--inverted {
  display: flex;
  max-width: 5rem;
  outline: none;
  padding: 0 .2rem
}

@media (min-width: 37.5rem) {
  .menu__logo-container:focus>.menu__logo--inverted {
    max-width: 7rem
  }
}

.menu__login-button,
.menu__mypage-button {
  align-items: center;
  border: none;
  border-radius: 0;
  box-sizing: content-box;
  color: #222;
  display: flex;
  flex-direction: column;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  height: 100%;
  justify-content: center;
  letter-spacing: 0;
  padding: 0;
  text-transform: lowercase
}

.menu__login-button__mobile,
.menu__mypage-button__mobile {
  width: 2.5rem
}

@media (min-width: 37.5rem) {

  .menu__login-button__mobile,
  .menu__mypage-button__mobile {
    width: 3.5rem
  }
}

.menu__login-button__desktop,
.menu__mypage-button__desktop {
  display: none
}

.menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active,
.menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus,
.menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover,
.menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active,
.menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus,
.menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover {
  background-color: #fff;
  color: #222
}

@media (min-width: 22.5rem) {

  .menu__login-button,
  .menu__mypage-button {
    letter-spacing: .05rem
  }
}

@media (min-width: 37.5rem) {

  .menu__login-button,
  .menu__mypage-button {
    font-size: .875rem
  }
}

@media (min-width: 70rem) {

  .menu__login-button,
  .menu__mypage-button {
    border: 1px solid #990ae3;
    border-radius: 2rem;
    flex-direction: row;
    height: inherit;
    padding: .6rem 1.3rem
  }

  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover {
    background-color: #990ae3;
    border-bottom: 1px solid #990ae3;
    color: #fff;
    margin-bottom: 0
  }

  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active .menu__login-button-icon *,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus .menu__login-button-icon *,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover .menu__login-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active .menu__login-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus .menu__login-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover .menu__login-button-icon * {
    stroke: #fff;
    stroke-width: 50
  }

  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active .menu__mypage-button-icon *,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus .menu__mypage-button-icon *,
  .menu__login-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover .menu__mypage-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):active .menu__mypage-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):focus .menu__mypage-button-icon *,
  .menu__mypage-button:not(.button--processing):not(.button--disabled):not(.button--inverted):not(.button--negative):hover .menu__mypage-button-icon * {
    stroke: #fff;
    fill: #fff;
    stroke-width: 50
  }

  .menu__login-button__mobile,
  .menu__mypage-button__mobile {
    display: none
  }

  .menu__login-button__desktop,
  .menu__mypage-button__desktop {
    display: flex;
    margin-left: 1rem
  }
}

.menu__login-button-icon,
.menu__mypage-button-icon {
  height: 1.3rem;
  margin-bottom: auto;
  width: 1.3rem
}

@media (min-width: 37.5rem) {

  .menu__login-button-icon,
  .menu__mypage-button-icon {
    height: 1.9rem;
    width: 1.9rem
  }
}

@media (min-width: 70rem) {

  .menu__login-button-icon,
  .menu__mypage-button-icon {
    height: 100%;
    height: 1rem;
    margin-bottom: 0;
    margin-right: 1rem;
    width: 1rem
  }
}

.menu__login-button-icon *,
.menu__mypage-button-icon * {
  fill: none;
  stroke: #222;
  stroke-width: 30
}

@media (min-width: 70rem) {
  .menu__mypage-button {
    background: #990ae3;
    color: #fff
  }

  .menu__mypage-button-icon * {
    stroke: #fff;
    stroke-width: 40
  }
}

.menu__dropdown {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  position: absolute;
  right: calc((100vw - min(100vw, 1680px))/2);
  top: 100px;
  width: 16rem
}

.menu__dropdown--button {
  border-bottom: 1px solid #f2f2f2;
  padding: 1rem 0;
  text-align: center
}

.menu__dropdown--button button {
  border-radius: initial;
  color: #646464;
  font-size: 1rem;
  text-decoration: none
}

.menu__dropdown--button .button--active {
  color: #222;
  text-decoration: underline;
  text-decoration-color: #990ae3
}

.menu__dropdown--links {
  padding: 1rem 0
}

.menu__dropdown--links a {
  margin-bottom: .7rem;
  margin-left: 1.5rem
}

.menu__dropdown--links a:last-child {
  margin-bottom: 0
}

.menu__dropdown--logout {
  border-top: 1px solid #f2f2f2;
  padding: 1rem 0;
  text-align: center
}

.menu__dropdown--logout--not-logged-in {
  color: #a0a0a0;
  cursor: default;
  display: inline;
  font-family: TeliaSans-Medium, Helvetica, Arial, sans-serif;
  margin: 0
}

@media (max-width: 70rem) {
  .menu__dropdown {
    right: 10px;
    top: 85px
  }
}

@media (max-width: 37.5rem) {
  .menu__dropdown {
    right: 10px;
    top: 70px
  }
}

.menu__search {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 2.5rem
}

.menu__search:focus,
.menu__search:hover {
  outline: none
}

.menu__search:focus>.menu__search--label,
.menu__search:hover>.menu__search--label {
  border-bottom: 2px solid #990ae3;
  margin-bottom: -2px;
  z-index: 0
}

.menu__search--icon {
  height: 1.3rem;
  margin-bottom: auto;
  pointer-events: none;
  width: 1.3rem
}

@media (min-width: 37.5rem) {
  .menu__search--icon {
    height: 1.9rem;
    width: 1.9rem
  }
}

@media (min-width: 70rem) {
  .menu__search--icon {
    height: 1rem;
    margin-bottom: 0;
    margin-right: .3rem;
    width: 1rem
  }
}

.menu__search--label {
  align-items: center;
  display: flex;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  letter-spacing: .05rem;
  line-height: 1;
  margin-top: auto;
  text-decoration: none;
  text-transform: uppercase
}

@media (min-width: 37.5rem) {
  .menu__search--label {
    font-size: .875rem
  }
}

@media (min-width: 70rem) {
  .menu__search--label {
    margin-top: 0;
    text-align: left
  }
}

.menu__search--focused {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1
}

.menu__search--focused .menu__search--icon,
.menu__search--focused .menu__search--label {
  display: none
}

.menu__search--focused .menu__search--open {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100%;
  padding: .5rem 1.25rem;
  position: absolute;
  width: 100%
}

@media (min-width: 70rem) {
  .menu__search--focused .menu__search--open {
    height: 100%;
    padding: 0;
    right: 0;
    top: 0;
    width: 20rem
  }
}

.menu__search--focused .menu__search--open-form {
  flex-grow: 1
}

.menu__search--focused .menu__search--open-abort-button {
  margin-left: 1rem
}

.menu__top {
  background: #f2f2f2;
  display: none;
  padding: 0 1.25rem 0 9rem;
  position: relative
}

@media (min-width: 70rem) {
  .menu__top {
    display: block
  }
}

.menu__top--heading {
  justify: space-around;
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding-left: 1.25rem
}

.menu__top--heading-item {
  border-bottom: none;
  cursor: pointer;
  display: flex;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: .89em;
  margin-right: -.625rem;
  padding: 0 .96154rem;
  position: relative;
  text-transform: uppercase
}

.menu__top--heading-item .link__content {
  border-bottom: 2px solid transparent;
  position: relative
}

.menu__top--heading-item .link__content:after {
  border-bottom: 2px solid #990ae3;
  content: "";
  display: block;
  left: 0;
  margin-top: -2px;
  position: absolute;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  width: 0
}

.menu__top--heading-item--active,
.menu__top--heading-item:hover {
  transition: all .1s ease-in
}

.menu__top--heading-item--active .link__content:after,
.menu__top--heading-item:hover .link__content:after {
  width: 100%
}

.menu__mobile {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  display: none;
  height: 100%;
  padding: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 90%
}

@media (min-width: 70rem) {
  .menu__mobile {
    display: none
  }
}

.menu__mobile--open {
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-y: scroll;
  z-index: 45
}

.menu__mobile-header {
  align-items: center;
  display: flex;
  height: 50px
}

.menu__mobile-heading-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0
}

.menu__mobile-heading-item {
  cursor: pointer
}

.menu__mobile-heading-item--active {
  border-bottom: 2px solid #990ae3;
  margin-bottom: -2px
}

.menu__mobile-heading-item:last-child {
  margin-right: 2rem
}

.menu__mobile-heading-item:focus,
.menu__mobile-heading-item:hover {
  border-bottom: 2px solid #990ae3;
  color: #990ae3;
  margin-bottom: -2px;
  outline: none
}

.menu__mobile-heading-item-text {
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase
}

.menu__mobile-heading-item-link {
  color: inherit;
  text-decoration: none
}

.menu__mobile-button {
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  width: 2.5rem
}

@media (min-width: 37.5rem) {
  .menu__mobile-button {
    width: 3.5rem
  }
}

@media (min-width: 70rem) {
  .menu__mobile-button {
    display: none
  }
}

.menu__mobile-button:active,
.menu__mobile-button:focus,
.menu__mobile-button:hover {
  cursor: pointer;
  outline: none
}

.menu__mobile-button:active>.menu__mobile-button-text,
.menu__mobile-button:focus>.menu__mobile-button-text,
.menu__mobile-button:hover>.menu__mobile-button-text {
  border-bottom: 2px solid #990ae3;
  margin-bottom: -2px;
  z-index: 0
}

.menu__mobile-button-icon {
  height: 1.3rem;
  margin-bottom: .3rem;
  width: 1.3rem
}

.menu__mobile-button-icon * {
  stroke: #222;
  stroke-width: 30
}

@media (min-width: 37.5rem) {
  .menu__mobile-button-icon {
    height: 1.9rem;
    margin-bottom: .5rem;
    width: 1.9rem
  }
}

.menu__mobile-button-text {
  display: block;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  letter-spacing: .05rem;
  line-height: 1;
  text-transform: uppercase
}

@media (min-width: 37.5rem) {
  .menu__mobile-button-text {
    font-size: .875rem
  }
}

.menu__mobile-close-button {
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #222;
  cursor: pointer;
  display: flex
}

.menu__mobile-close-button:focus {
  outline: none
}

.menu__mobile-close-button:focus * {
  fill: #990ae3
}

.menu__mobile-close-button-icon {
  height: 1.2rem;
  margin-left: .25rem;
  width: 1.2rem
}

.menu__mobile-item {
  border: none;
  display: block;
  margin: 1rem 0;
  width: 100%
}

.menu__mobile-item:focus,
.menu__mobile-item:hover {
  background: none;
  color: #990ae3
}

.menu__mobile-item:focus .link__content,
.menu__mobile-item:hover .link__content {
  border-bottom: 2px solid #990ae3;
  margin-bottom: -2px
}

.menu__mobile-submenu {
  margin-top: .5rem
}

.menu__mobile-subitem {
  border: none;
  display: block;
  font-family: TeliaSans-Regular, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: .4rem 0;
  width: 100%
}

.menu__mobile-subitem.link:hover,
.menu__mobile-subitem:focus,
.menu__mobile-subitem:hover {
  background: none;
  color: #990ae3
}

.menu__mobile-subitem.link:hover .link__content,
.menu__mobile-subitem:focus .link__content,
.menu__mobile-subitem:hover .link__content {
  border-bottom: 2px solid #990ae3;
  margin-bottom: -2px
}

.menu__mobile-dropdown-menu {
  cursor: pointer;
  margin: 1rem 0;
  padding: 0 .25rem;
  position: relative
}

.menu__mobile-dropdown-menu__header {
  font-family: TeliaSans-Medium, Helvetica, Arial, sans-serif
}

.menu__mobile-dropdown-menu__arrow-button {
  background: none;
  border: none;
  color: #222;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0
}

.menu__mobile-dropdown-menu__arrow-icon {
  height: 22px;
  width: 22px
}

.menu__mobile-dropdown-menu__arrow-icon.expanded {
  transform: rotate(180deg)
}

.menu__overlay {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%
}

.link {
  color: #222;
  font-family: TeliaSans-Medium, Helvetica, Arial, sans-serif;
  padding: 0 .25rem;
  text-decoration: none
}

.link,
.link:hover {
  border-bottom: 1px solid #990ae3
}

.link:hover {
  color: #990ae3
}

.link:active,
.link:focus {
  background-color: #990ae3;
  color: #fff;
  outline: none
}

.link:active .link--icon--black,
.link:active .link--icon--core-purple,
.link:focus .link--icon--black,
.link:focus .link--icon--core-purple {
  fill: #fff
}

.link--icon,
.link--icon:hover {
  border-bottom: none
}

.link--icon--after {
  margin-left: .5rem;
  margin-right: -5px
}

.link--icon--before {
  margin-left: -5px;
  margin-right: .5rem
}

.link--icon svg {
  height: 1.2rem;
  position: relative;
  top: 3px;
  width: 1.2rem
}

.link--icon--core-purple {
  fill: #990ae3
}

.link--icon--black {
  fill: #222
}

.link--no-underline,
.link--no-underline:hover {
  border-bottom: none
}

.link--negative {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: TeliaSans-Medium, Helvetica, Arial, sans-serif;
  padding: 0 .25rem;
  text-decoration: none
}

.link--negative:hover {
  border-bottom: 1px solid #a0a0a0;
  color: #a0a0a0
}

.link--negative:active,
.link--negative:focus {
  background-color: #fff;
  color: #990ae3;
  outline: none
}

.link--negative:active .link--negative--icon--white,
.link--negative:focus .link--negative--icon--white {
  fill: #990ae3
}

.link--negative--icon,
.link--negative--icon:hover {
  border-bottom: none
}

.link--negative--icon svg {
  height: 1.2rem;
  position: relative;
  top: 3px;
  width: 1.2rem
}

.link--negative--icon--white {
  fill: #fff
}

.telia-grid {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(144rem * var(--voca-rem-multiplier));
  padding: 0 calc(1.6rem * var(--voca-rem-multiplier));
  width: 100%
}

@media screen and (min-width: 37.5em) {
  .telia-grid {
    padding: 0 calc(2.4rem * var(--voca-rem-multiplier))
  }
}

@media screen and (min-width: 64em) {
  .telia-grid {
    padding: 0 calc(4.8rem * var(--voca-rem-multiplier))
  }
}

@media screen and (min-width: 90em) {
  .telia-grid {
    padding: 0 calc(4.8rem * var(--voca-rem-multiplier))
  }
}

.telia-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: calc(-1 * calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  margin-right: calc(-1 * calc(1.6rem * var(--voca-rem-multiplier)) / 2)
}

@media screen and (min-width: 37.5em) {
  .telia-row {
    margin-left: calc(-1 * calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    margin-right: calc(-1 * calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-row {
    margin-left: calc(-1 * calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    margin-right: calc(-1 * calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-row:last-of-type {
  margin-bottom: 0
}

.telia-row--sm {
  margin-bottom: calc(1.6rem * var(--voca-rem-multiplier))
}

.telia-row--md {
  margin-bottom: calc(2.4rem * var(--voca-rem-multiplier))
}

.telia-row--lg {
  margin-bottom: calc(2.4rem * var(--voca-rem-multiplier))
}

@media screen and (min-width: 64em) {
  .telia-row--lg {
    margin-bottom: calc(4.8rem * var(--voca-rem-multiplier))
  }
}

.telia-row--xl {
  margin-bottom: calc(4.8rem * var(--voca-rem-multiplier))
}

@media screen and (min-width: 64em) {
  .telia-row--xl {
    margin-bottom: calc(8rem * var(--voca-rem-multiplier))
  }
}

.telia-row--col-gap {
  margin-top: calc(-1 * calc(1.6rem * var(--voca-rem-multiplier)))
}

@media screen and (min-width: 37.5em) {
  .telia-row--col-gap {
    margin-top: calc(-1 * calc(2.4rem * var(--voca-rem-multiplier)))
  }
}

.telia-row--col-gap>telia-col {
  margin-top: calc(1.6rem * var(--voca-rem-multiplier))
}

@media screen and (min-width: 37.5em) {
  .telia-row--col-gap>telia-col {
    margin-top: calc(2.4rem * var(--voca-rem-multiplier))
  }
}

.telia-col {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 1)
}

@media screen and (min-width: 37.5em) {
  .telia-col {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-1 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 1)
}

@media screen and (min-width: 37.5em) {
  .telia-col-1 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-1 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-2 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 2)
}

@media screen and (min-width: 37.5em) {
  .telia-col-2 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-2 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-3 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 3)
}

@media screen and (min-width: 37.5em) {
  .telia-col-3 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-3 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-4 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 4)
}

@media screen and (min-width: 37.5em) {
  .telia-col-4 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-4 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-5 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 5)
}

@media screen and (min-width: 37.5em) {
  .telia-col-5 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-5 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-6 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 6)
}

@media screen and (min-width: 37.5em) {
  .telia-col-6 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-6 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-7 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 7)
}

@media screen and (min-width: 37.5em) {
  .telia-col-7 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-7 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-8 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 8)
}

@media screen and (min-width: 37.5em) {
  .telia-col-8 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-8 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-9 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 9)
}

@media screen and (min-width: 37.5em) {
  .telia-col-9 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-9 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-10 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 10)
}

@media screen and (min-width: 37.5em) {
  .telia-col-10 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-10 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-11 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 11)
}

@media screen and (min-width: 37.5em) {
  .telia-col-11 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-11 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

.telia-col-12 {
  box-sizing: border-box;
  display: block;
  padding-left: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  padding-right: calc(calc(1.6rem * var(--voca-rem-multiplier)) / 2);
  width: calc(((100% - 1px) / 12) * 12)
}

@media screen and (min-width: 37.5em) {
  .telia-col-12 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-12 {
    padding-left: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2);
    padding-right: calc(calc(2.4rem * var(--voca-rem-multiplier)) / 2)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-1 {
    width: calc(((100% - 1px) / 12) * 1)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-2 {
    width: calc(((100% - 1px) / 12) * 2)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-3 {
    width: calc(((100% - 1px) / 12) * 3)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-4 {
    width: calc(((100% - 1px) / 12) * 4)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-5 {
    width: calc(((100% - 1px) / 12) * 5)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-6 {
    width: calc(((100% - 1px) / 12) * 6)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-7 {
    width: calc(((100% - 1px) / 12) * 7)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-8 {
    width: calc(((100% - 1px) / 12) * 8)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-9 {
    width: calc(((100% - 1px) / 12) * 9)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-10 {
    width: calc(((100% - 1px) / 12) * 10)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-11 {
    width: calc(((100% - 1px) / 12) * 11)
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-md-12 {
    width: calc(((100% - 1px) / 12) * 12)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-1 {
    width: calc(((100% - 1px) / 12) * 1)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-2 {
    width: calc(((100% - 1px) / 12) * 2)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-3 {
    width: calc(((100% - 1px) / 12) * 3)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-4 {
    width: calc(((100% - 1px) / 12) * 4)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-5 {
    width: calc(((100% - 1px) / 12) * 5)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-6 {
    width: calc(((100% - 1px) / 12) * 6)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-7 {
    width: calc(((100% - 1px) / 12) * 7)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-8 {
    width: calc(((100% - 1px) / 12) * 8)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-9 {
    width: calc(((100% - 1px) / 12) * 9)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-10 {
    width: calc(((100% - 1px) / 12) * 10)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-11 {
    width: calc(((100% - 1px) / 12) * 11)
  }
}

@media screen and (min-width: 64em) {
  .telia-col-lg-12 {
    width: calc(((100% - 1px) / 12) * 12)
  }
}

@media screen and (min-width: 0) {
  .telia-col-hide-up-sm {
    display: none
  }
}

@media screen and (min-width: 37.5em) {
  .telia-col-hide-up-md {
    display: none
  }
}

@media screen and (min-width: 64em) {
  .telia-col-hide-up-lg {
    display: none
  }
}

@media screen and (min-width: 90em) {
  .telia-col-hide-up-xl {
    display: none
  }
}

.telia-col-hide-down-sm {
  display: none
}

@media screen and (min-width: 0) {
  .telia-col-hide-down-sm {
    display: block
  }
}

.telia-col-hide-down-md {
  display: none
}

@media screen and (min-width: 37.5em) {
  .telia-col-hide-down-md {
    display: block
  }
}

.telia-col-hide-down-xl {
  display: none
}

@media screen and (min-width: 90em) {
  .telia-col-hide-down-xl {
    display: block
  }
}

.telia-text-spacing .telia-p--subsection,
.telia-text-spacing .telia-heading--subsection-100 {
  margin-bottom: calc(0.4rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-p--overline-100,
.telia-text-spacing .telia-p--additional-100,
.telia-text-spacing .telia-heading--title-100,
.telia-text-spacing .telia-heading--title-200,
.telia-text-spacing .telia-heading--title-300 {
  margin-bottom: calc(0.8rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-p--overline-200 {
  margin-bottom: calc(1.2rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-price,
.telia-text-spacing .telia-p--paragraph-100,
.telia-text-spacing .telia-p--paragraph-200 {
  margin-bottom: calc(1.6rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-price+.telia-heading--title-100,
.telia-text-spacing .telia-p--paragraph-100+.telia-heading--title-100,
.telia-text-spacing .telia-p--paragraph-200+.telia-heading--title-100 {
  margin-top: calc(2.4rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-price+.telia-heading--title-200,
.telia-text-spacing .telia-p--paragraph-100+.telia-heading--title-200,
.telia-text-spacing .telia-p--paragraph-200+.telia-heading--title-200 {
  margin-top: calc(3.2rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-price+.telia-heading--title-300,
.telia-text-spacing .telia-p--paragraph-100+.telia-heading--title-300,
.telia-text-spacing .telia-p--paragraph-200+.telia-heading--title-300 {
  margin-top: calc(4.8rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-heading--title-400,
.telia-text-spacing .telia-heading--title-500 {
  margin-bottom: calc(2rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-heading--title-600,
.telia-text-spacing .telia-heading--title-700,
.telia-text-spacing .telia-heading--display-100,
.telia-text-spacing .telia-heading--display-200 {
  margin-bottom: calc(2.4rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-p--preamble-100 {
  margin-bottom: calc(3.2rem * var(--voca-rem-multiplier))
}

.telia-text-spacing .telia-p--preamble-200 {
  margin-bottom: calc(4.8rem * var(--voca-rem-multiplier))
}

.telia-text-spacing *>:last-child,
.telia-text-spacing>:last-child {
  margin-bottom: 0
}

.display-200 {
  font-size: calc( calc(4.8rem * var(--voca-rem-multiplier)) + 3.2 * (100vw - calc(60rem * var(--voca-rem-multiplier))) / 84 );
}

/* stylelint-disable */
/* stylelint-enable */
:host {
  --telia-p-hyphenation: "auto";
  display: block;
}

.telia-p {
  hyphens: var(--telia-p-hyphenation);
  margin: 0;
}
.telia-p--paragraph-100 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: calc(1.6rem * var(--voca-rem-multiplier));
  line-height: 1.5;
}
.telia-p--paragraph-200 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: calc(1.6rem * var(--voca-rem-multiplier));
  line-height: 1.75;
}
.telia-p--preamble-100 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: calc(2rem * var(--voca-rem-multiplier));
  line-height: 1.5;
}
.telia-p--preamble-200 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: calc(2rem * var(--voca-rem-multiplier));
  line-height: 1.5;
}
@media screen and (min-width: 37.5em) {
  .telia-p--preamble-200 {
    font-size: calc(
    calc(2rem * var(--voca-rem-multiplier)) + 0.4 *
      (100vw - calc(60rem * var(--voca-rem-multiplier))) / 84
  );
  }
}
@media screen and (min-width: 90em) {
  .telia-p--preamble-200 {
    font-size: calc(2.4rem * var(--voca-rem-multiplier));
  }
}
.telia-p--additional-100 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: calc(1.4rem * var(--voca-rem-multiplier));
  line-height: 1.5;
}
.telia-p--overline-100 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: calc(1.4rem * var(--voca-rem-multiplier));
  letter-spacing: 0.1rem;
  line-height: 1;
  text-transform: uppercase;
}
.telia-p--overline-200 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: calc(1.4rem * var(--voca-rem-multiplier));
  letter-spacing: 0.1rem;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 37.5em) {
  .telia-p--overline-200 {
    font-size: calc(
    calc(1.4rem * var(--voca-rem-multiplier)) + 0.2 *
      (100vw - calc(60rem * var(--voca-rem-multiplier))) / 84
  );
  }
}
@media screen and (min-width: 90em) {
  .telia-p--overline-200 {
    font-size: calc(1.6rem * var(--voca-rem-multiplier));
  }
}

.telia-icon {
  display: inline-block;
}
.telia-icon__container {
  display: block;
  height: inherit;
}
.telia-icon svg {
  display: block;
}
.telia-icon--sm {
  height: calc(1.6rem * var(--voca-rem-multiplier));
  min-width: calc(1.6rem * var(--voca-rem-multiplier));
  width: calc(1.6rem * var(--voca-rem-multiplier));
}
.telia-icon--md {
  height: calc(2.4rem * var(--voca-rem-multiplier));
  min-width: calc(2.4rem * var(--voca-rem-multiplier));
  width: calc(2.4rem * var(--voca-rem-multiplier));
}
.telia-icon--lg {
  height: calc(3.2rem * var(--voca-rem-multiplier));
  min-width: calc(3.2rem * var(--voca-rem-multiplier));
  width: calc(3.2rem * var(--voca-rem-multiplier));
}

.title-100 {
  font-family: TeliaSans, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: calc(1.6rem * var(--voca-rem-multiplier));
  line-height: 1.25;
}

.title-500 {
  font-family: "TeliaSans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: calc(3.2rem * var(--voca-rem-multiplier));
  line-height: 1;
}
@media screen and (min-width: 37.5em) {
  .title-500 {
    font-size: calc(
    calc(3.2rem * var(--voca-rem-multiplier)) + 1.6 *
      (100vw - calc(60rem * var(--voca-rem-multiplier))) / 84
  );
  }
}
@media screen and (min-width: 90em) {
  .title-500 {
    font-size: calc(4.8rem * var(--voca-rem-multiplier));
  }
}